<!--FOOTER-->
<footer>
    <div class="container">
      <div class="row ">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                    <img >
                    <h2 class="card-title" style="margin-top: -22px"><img src="img/Logo Warna.png" style="max-width: 30px; padding-right: 5px;" class="card-title">YCI</h2>
                    <p>PT. Yes Clean Indonesia</p>
                    <a href="link_sosial_media"><img src="Img/sosmed-ig.png"class="sosial-media"></a>
                    <a href="link_sosial_media"><img src="Img/sosmed-wa.png" class="sosial-media"></a>
                    <a href="link_sosial_media"><img src="Img/yt.png" class="sosial-media"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Head Office</h2>
                  <p class="card-text"><img src="Img/map-pin.svg" class="card-text"> Universitas Lampung</p>
                  <p class="card-text"><img src="Img/phone.svg" class="card-text"> 0899-5739-124</p>
                </div>
              </div>
            </div>
        </div>
        <div class="card-footer">
          <hr class="hr" />
            &copy Yes Clean Indonesia, All Right Reserved.
        </div>
    </div>
  </footer>